body{
    background: url(./images/header-bg.png)  center fixed; 
}

.nav-bar{
    display: flex;
    gap: 40px;

}

.nav-logo img{
    margin-top: 10px;
}

.nav-item{
    display: flex;
    /* margin-top: 14PX; */
    font-size: 18PX;
    margin-top: 20px;


}

.nav-call{
    display: flex;
    gap: 40px;
    font-size: 19px;
    margin-top: 20px;

}