*{
    /* border: red solid 1px    ; */
}

.w{
    background: url(./images/banner-bg1.png)  center ; 
    /* background-size: cover;
    position: relative;
height: 1500px; */
/* width: 100%; */

width: 100%;
float: left;
/* background-image: url(../images/banner-bg.png); */
height: auto;
padding-bottom: 50px;
background-size: 100%;
/* background-repeat: no-repea */
}

@font-face{
    font-family:'New';
    src: url(./fonts/poppins.ttf);
}

.nav-bar{
    display: flex;
    gap: 40px;
    /* width: 90%; */
    margin-left: 30px;

}

.nav-logo img{
    margin-top: 10px;
    cursor: pointer;
}

.nav-item{
    display: flex;
    /* margin-top: 14PX; */
    font-size: 18PX;
    margin-top: 20px;
    font-family: New;
    cursor: pointer;
    transition: ease-in all 0.5s;
}

.nav-item :hover{
    color:#FFB607 ;
}

.nav-call{
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-top: 20px;
    color: #FFB607;
    font-family: New;
}

.login{
    /* gap: 0px; */
    display: flex;
    cursor: pointer;
    color: black;
}

.q{
    margin-bottom: 200px;
    /* margin-top: 100px; */
    text-align: center;
    /* position: absolute; */
    /* top: 50%; */
    /* left:50% ; */
    color: black;
}

.intro h1{
    margin-top: 70px;
    font-weight: 200;
    font-family: New;
    width: 100%;
    float: left;
    font-size: 100px;
    color: #090808;
    text-align: center;
    text-transform: uppercase;
}
